html,
body {
  background-image: url("/img/alekon-pictures-Ly9cGyDn-A8-unsplash.jpg");
  background-repeat: initial;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
  margin: 0;
  background-color: #f0f0f0; /* Cinza claro */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Faz o container crescer e ocupar o espaço disponível */
}

main {
  flex: 1 0 auto; /* Permite que o main expanda para preencher o espaço disponível */
}

header,
footer {
  background-color: #003366; /* Azul escuro */
  color: #ffffff; /* Branco */
}

h1,
h2 {
  color: #003366; /* Azul escuro */
}

.social-media img{
  width: 3%;
  height: 3%;
}

footer {
  text-align: center;
  padding: 10px;
  flex-shrink: 0; /* Impede que o footer encolha */
}

.btn-primary {
  background-color: #003366; /* Azul escuro */
  border-color: #003366; /* Azul escuro */
}

.btn-primary:hover {
  background-color: #002244; /* Azul mais escuro */
  border-color: #002244; /* Azul mais escuro */
}

.whatsapp-btn {
  background-color: #25d366; /* Cor oficial do WhatsApp */
  color: white;
  padding: 5% 15%;
  border: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  gap: 10px; /* Espaço entre o ícone e o texto */
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.whatsapp-btn img {
  width: 24px;
  height: 24px;
  fill: green; /* Só funciona se o SVG permitir controle de cor via CSS */
}

.header-icon {
  height: 100px; /* Ajuste conforme necessário */
  width: 100px; /* Ajuste conforme necessário */
}

/* switch para temas */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* CSS para telas menores */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 95%;
  }
}



/*########################## cards animados ########################## */

/* author: https://codepen.io/Gogh/pen/poqaPOM
Vincent Van Goggles
 */
/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --text-color: #000000;
  --bg-color: #222222;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 968px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*==================== BASE ====================*/
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--normal-font-size);
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--body-font);
  transition: all 0.2s ease;
}


/*==================== SERVICE CARD ====================*/
.card__container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 60px 0;
}
.card__bx {
  --dark-color: #2e2e2e;
  --dark-alt-color: #777777;
  --white-color: #ffffff;
  --button-color: #333333;
  --transition: 0.5s ease-in-out;

  
  font-family: inherit;
  height: 350px;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark-color);
  transition: var(--transition);
}
.card__bx::before,
.card__bx::after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: var(--transition);
}
.card__bx::before {
  inset: -10px 50px;
  border-top: 4px solid var(--clr);
  transform: skewY(15deg);
  border-bottom: 4px solid var(--clr);
}
.card__bx:hover::before {
  inset: -10px 40px;
  transform: skewY(0deg);
}
.card__bx::after {
  inset: 60px -10px;
  border-left: 4px solid var(--clr);
  transform: skew(15deg);
  border-right: 4px solid var(--clr);
}
.card__bx:hover::after {
  inset: 40px -10px;
  transform: skew(0deg);
}
.card__bx .card__data {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.card__bx .card__data .card__icon {
  height: 0px;
  width: 50%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--text-color);
  background-color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data .card__icon {
  
  color: var(--clr);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--clr);
}
.card__bx:hover .card__data .card__icon {
  color: var(--dark-color);
  background-color: var(--clr);
  box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--clr);
}
.card__bx .card__data .card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.card__bx .card__data h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white-color);
  transition: var(--transition);
}
.card__bx:hover .card__data h3 {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data p {
  font-size: 0.9rem;
  color: var(--dark-alt-color);
  transition: var(--transition);
}
.card__bx:hover .card__data p {
  color: var(--dark-color);
  transition: var(--transition);
}
.card__bx .card__data a {
  position: relative;
  display: inline-flex;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  border: 2px solid var(--clr);
  color: var(--dark-color);
  background-color: var(--clr);
  transition: var(--transition);
}
.card__bx:hover .card__data a {
  color: var(--clr);
  background-color: var(--dark-color);
}
.card__bx:hover .card__data a:hover {
  border-color: var(--dark-color);
  color: var(--dark-color);
  background-color: var(--clr);
}


